server:
  port: 8081
  servlet:
    context-path: /api/file

  application:
    name: zinnie-file-service

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_tracker
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false
